<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <h1>Electronica</h1>
    <img src="/img/electronica.jpeg" alt="Programando" style="max-width: 300px; width: 100%; height: auto;"><br>
    <p class="text-gray-300"><strong>PRECIO: 200 <br></strong></p>
    <p class="text-gray-300"><strong>VALIDO PARA CHILE CL <br></strong></p>
    <p class="text-gray-300"><strong></strong>Este producto incluye IVA</p><br>

    <h2>Samsung a52</h2>
    <img src="/img/Samsung A20s.avif" alt="Programando" style="max-width: 300px; width: 100%; height: auto;"><br>
    <p class="text-gray-300"><strong>PRECIO: $150.000 <br></strong></p>
    <p class="test-gray-300"><strong>VALIDO PARA CHILE CL <br></strong></p>
    <p class="test-gray-300"><strong>Este producto incluye IVA</strong></p><br>

    <h3>Samsung Galaxi Note 20</h3>
    <img src="img/note20.jpeg" alt="Programando" style="max-width: 300px; width: 100%; height: auto;"><br>
    <p class="text-gray-300"><strong>PRECIO: $1.200.000 <br></strong></p>
    <p class="taxt-gray-300"><strong>VALIDO PARA PERU PE <br></strong></p>
    <p class="text-gray-300"><strong>Este producto incluye IVA</strong></p><br>

    <h4>Iphone 14pro max</h4>
    <img src="img/iphone 14pro mx.webp" alt="Programando" style="max-width: 300px; width: 100%; height: auto;"><br>
    <p class="test-gray-300"><strong>PRECIO: 1.400.000 <br></strong></p>
    <p class="test-gray-300">VALIDO PARA USA USD <br></p>
    <p class="test-gray-300">Este producto incluye IVA</p><br>

    <div class="flex justify-center mt-4">
        <a href="https://wa.me/56930038821?Hola%20deseo%20comprar%20la%20Taza%20Informática" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
            Solicitar Compra
        </a>
    </div>

    <main>
        <section id="about">
            <h1>Acerca de Nosotros</h1>
            <p>Aqui pruedes agreagr informacionde la empresa, mision, valores e historias</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>