<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>HOLA MUNDO</h1>
    <h2>Primer Proyecto de practica</h2>
    <img src="/img/programando.jpeg">
    <%- include('partials/footer') %>
</body>
</html>