<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat magnam mollitia dolore voluptatem accusantium sed ipsa nam est! Veniam possimus error nisi eos distinctio iusto optio cupiditate alias sapiente.</p>
</footer>